altgraph==0.17.2
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
et_xmlfile==2.0.0
fiona==1.10.1
future==0.18.2
geopandas==1.0.1
idna==3.10
importlib_metadata==8.7.0
macholib==1.15.2
numpy==2.0.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pyogrio==0.11.1
pyproj==3.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.4
shapely==2.0.7
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
zipp==3.23.0
